/*Universal*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*Header*/
header {
  border: 1px solid red;
  /*position: fixed;*/
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: inline-flex;

}

header span {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

/*Banner*/

/*General Section*/

/*Courses Section*/

/*Thesis Section*/

/*Footer*/
